---
import HeaderLink from './HeaderLink.astro';
import ThemeToggleButton from './ThemeToggleButton.astro';
---

<header>
	<nav>
		<a href="/" class="logo-link">
			<img src="/images/logo.svg" alt="Kaleem Logo" />
		</a>
		<div class="nav-links">
			<div class="internal-links">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/solutions">Solutions</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
				<HeaderLink href="/contact">Contact</HeaderLink>
			</div>
			<ThemeToggleButton />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 2em;
		background: var(--header-bg);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(var(--gray), 0.5);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
  .logo-link img {
    height: 2rem;
    width: auto;
    display: block;
  }
	.nav-links {
		display: flex;
		align-items: center;
		gap: 0.5em;
	}
	.internal-links {
		display: flex;
		gap: 0.5em;
	}
	.internal-links a {
		padding: 1.75em 1em;
		color: var(--header-text);
		text-decoration: none;
		border-bottom: 2px solid transparent;
		transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	}
	.internal-links a:hover {
		color: var(--accent-dark);
		border-bottom-color: var(--accent-dark);
	}
	.internal-links a.active {
		color: var(--accent);
		border-bottom-color: var(--accent);
	}
</style>
